<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="utf-8" />
    <title>Getting Started</title>
    <% Object.values(htmlWebpackPlugin.files.css).map((file) => { %>
        <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }) %>
</head>
<body>
<div id="root"></div>
</body>

<% Object.values(htmlWebpackPlugin.files.js).map((file) => { %>
    <script type="text/javascript" src="<%= file %>"></script>
<% }) %>

</html>